<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>leftPriority</key>
		<integer>1000</integer>
		<key>rightPriority</key>
		<integer>499</integer>
		<key>compressionResistancePriority</key>
		<integer>1000</integer>
		<key>huggingPriority</key>
		<integer>501</integer>
		<key>initialWidth</key>
		<integer>100</integer>
		<key>initialIntrinsicWidth</key>
		<integer>100</integer>
		<key>excpectedWidth</key>
		<integer>100</integer>
		<key>newIntrinsicWidth</key>
		<integer>100</integer>
		<key>excpectedNewWidth</key>
		<integer>100</integer>
	</dict>
	<dict>
		<key>leftPriority</key>
		<integer>1000</integer>
		<key>rightPriority</key>
		<integer>501</integer>
		<key>compressionResistancePriority</key>
		<integer>1000</integer>
		<key>huggingPriority</key>
		<integer>502</integer>
		<key>initialWidth</key>
		<integer>100</integer>
		<key>initialIntrinsicWidth</key>
		<integer>100</integer>
		<key>excpectedWidth</key>
		<integer>100</integer>
		<key>newIntrinsicWidth</key>
		<integer>50</integer>
		<key>excpectedNewWidth</key>
		<integer>50</integer>
	</dict>
	<dict>
		<key>leftPriority</key>
		<integer>1000</integer>
		<key>rightPriority</key>
		<integer>501</integer>
		<key>compressionResistancePriority</key>
		<integer>1000</integer>
		<key>huggingPriority</key>
		<integer>499</integer>
		<key>initialWidth</key>
		<integer>100</integer>
		<key>initialIntrinsicWidth</key>
		<integer>100</integer>
		<key>excpectedWidth</key>
		<integer>100</integer>
		<key>newIntrinsicWidth</key>
		<integer>50</integer>
		<key>excpectedNewWidth</key>
		<integer>100</integer>
	</dict>
	<dict>
		<key>initialWidth</key>
		<integer>100</integer>
		<key>leftPriority</key>
		<integer>1000</integer>
		<key>rightPriority</key>
		<integer>500</integer>
		<key>compressionResistancePriority</key>
		<integer>1000</integer>
		<key>huggingPriority</key>
		<integer>1</integer>
		<key>initialIntrinsicWidth</key>
		<integer>100</integer>
		<key>excpectedWidth</key>
		<integer>100</integer>
		<key>newIntrinsicWidth</key>
		<integer>50</integer>
		<key>excpectedNewWidth</key>
		<integer>100</integer>
	</dict>
	<dict>
		<key>initialWidth</key>
		<integer>100</integer>
		<key>leftPriority</key>
		<integer>1000</integer>
		<key>rightPriority</key>
		<integer>500</integer>
		<key>compressionResistancePriority</key>
		<integer>1000</integer>
		<key>huggingPriority</key>
		<integer>1</integer>
		<key>initialIntrinsicWidth</key>
		<integer>100</integer>
		<key>excpectedWidth</key>
		<integer>100</integer>
		<key>newIntrinsicWidth</key>
		<integer>50</integer>
		<key>excpectedNewWidth</key>
		<integer>100</integer>
	</dict>
	<dict>
		<key>leftPriority</key>
		<integer>1000</integer>
		<key>rightPriority</key>
		<integer>498</integer>
		<key>compressionResistancePriority</key>
		<integer>1000</integer>
		<key>huggingPriority</key>
		<integer>499</integer>
		<key>initialWidth</key>
		<integer>100</integer>
		<key>initialIntrinsicWidth</key>
		<integer>100</integer>
		<key>excpectedWidth</key>
		<integer>100</integer>
		<key>newIntrinsicWidth</key>
		<integer>50</integer>
		<key>excpectedNewWidth</key>
		<integer>50</integer>
	</dict>
	<dict>
		<key>leftPriority</key>
		<integer>1000</integer>
		<key>rightPriority</key>
		<integer>1000</integer>
		<key>compressionResistancePriority</key>
		<integer>1000</integer>
		<key>huggingPriority</key>
		<integer>1</integer>
		<key>initialWidth</key>
		<integer>100</integer>
		<key>initialIntrinsicWidth</key>
		<integer>100</integer>
		<key>excpectedWidth</key>
		<integer>100</integer>
		<key>newIntrinsicWidth</key>
		<integer>50</integer>
		<key>excpectedNewWidth</key>
		<integer>100</integer>
	</dict>
	<dict>
		<key>leftPriority</key>
		<integer>1000</integer>
		<key>rightPriority</key>
		<integer>499</integer>
		<key>compressionResistancePriority</key>
		<integer>1000</integer>
		<key>huggingPriority</key>
		<integer>498</integer>
		<key>initialWidth</key>
		<integer>100</integer>
		<key>initialIntrinsicWidth</key>
		<integer>100</integer>
		<key>excpectedWidth</key>
		<integer>100</integer>
		<key>newIntrinsicWidth</key>
		<integer>50</integer>
		<key>excpectedNewWidth</key>
		<integer>100</integer>
	</dict>
</array>
</plist>
